.menuItem {
    position: absolute;
    top: 7px;
    right: 7px;
}

.Notifications {
	border: 3px dotted red;
	padding: 6px 12px;
    position: absolute;
    top: 21px;
    right: 7px;
	margin-top: 12px;
}


li[data-notification-type='default'] {
	color: blue;
}

li[data-notification-type='urgent'] {
	color: red;
}

button img {
	width: 10px
}
