
.App-header {
	font-size: 1.4rem;
	color: #E0354B;
	display: flex;
	align-items: center;
	padding: 1.2em;
	border-bottom: 4px solid #E0354B;
	font-family: Arial, Helvetica, sans-serif;
}

.App-header img {
	width: 250px;
	height: 250px;
}
